In [32]:
# import mysql.connector
# !pip install mysql.connector

In [33]:
import mysql.connector

In [34]:
c=1000
print("""
-----------------------
   Welcome to MyShop
-----------------------
""")

mydb=mysql.connector.connect(host='localhost',user='root',passwd='mysql2password')
mycursor=mydb.cursor()
mycursor.execute("create database if not exists shop")
mycursor.execute("use shop")
mycursor.execute("create table if not exists category(CID varchar(8),Cname varchar(20) not null,primary key(CID))")
mycursor.execute("create table if not exists product(PID varchar(8) primary key,Pname varchar(20), CID varchar(8) , Price decimal(8) not null,FOREIGN KEY(CID) REFERENCES category(CID))")
mycursor.execute("create table if not exists Customer (CuID varchar(8) primary key,Cname varchar(20) not null, Area varchar(20) not null , Phone decimal(10) not null , email varchar(30) not null)")
mycursor.execute("create table if not exists Supplier (SID varchar(8) primary key, Sname varchar(20) not null,Area varchar(30) not null,Phone decimal(10) not null,email varchar(30) not null)")
mycursor.execute("create table if not exists Payment_Customer (PaID varchar(8) primary key, CuID varchar(8),amount decimal(65),t_mode varchar(20),t_date date,FOREIGN KEY(CuID) REFERENCES customer(CuID))")
mycursor.execute("create table if not exists Payment_Supplier (PaID varchar(8) primary key, SID varchar(8),amount decimal(65),t_mode varchar(20),t_date date,FOREIGN KEY(SID) REFERENCES supplier(SID))")
mycursor.execute("create table if not exists warehouses(WID varchar(8) not null,Area varchar(20) not null ,PID varchar(8) not null,qunatity decimal(4) not null,PRIMARY KEY(wid,pid),FOREIGN KEY(pid) REFERENCES product(pid) ON DELETE CASCADE)")
# mycursor.execute("alter table supplier if not primary key=SID add primary key(SID)")
mycursor.execute("create table if not exists supplies(SID varchar(8) ,PID varchar(8))")
mycursor.execute("create table if not exists buys(CuID varchar(8),PID varchar(8))")
mydb.commit()

-----------------------
   Welcome to MyShop
-----------------------

In [35]:
mycursor.execute('create trigger c before insert on product FOR EACH ROW BEGIN IF NEW.Price < 0 THEN SET NEW.Price = 0; END IF; END ')

In [36]:
mycursor.execute('create trigger d before insert on warehouses FOR EACH ROW BEGIN IF NEW.qunatity < 0 THEN SET NEW.qunatity = 0; END IF; END ')

In [61]:
# mycursor.execute("drop database shop")

In [38]:
z=0
mycursor.execute("select * from category")

In [39]:
for i in mycursor:
    z+=1
if z==0:
    mycursor.execute("insert into category values('100','Pulses')")

In [40]:
# category
mycursor.execute("insert into category values('101','Cereals')")
mycursor.execute("insert into category values('102','Spices')")
mycursor.execute("insert into category values('103','Other')")

In [41]:
mycursor.execute("create table if not exists login(username varchar(20),password varchar(20))")

In [42]:
# login
mycursor.execute("insert into login values('usernames','123')")

In [43]:
mydb.commit()

In [44]:
# product
mycursor.execute("insert into product values('001','Beans','100',42)")
mycursor.execute("insert into product values('002','Chickpeas','100',66)")
mycursor.execute("insert into product values('003','Lentils','100',55)")
mycursor.execute("insert into product values('004','Peas','100',45)")
mycursor.execute("insert into product values('005','Wheat','101',33)")
mycursor.execute("insert into product values('006','Rice','101',50)")
mycursor.execute("insert into product values('007','Oats','101',150)")
mycursor.execute("insert into product values('008','Millet','101',65)")
mycursor.execute("insert into product values('009','Maize','101',25)")
mycursor.execute("insert into product values('010','Cardamon','102',2000)")
mycursor.execute("insert into product values('011','Cloves','102',1200)")
mycursor.execute("insert into product values('012','Coriander','102',80)")
mycursor.execute("insert into product values('013','Cumin','102',450)")
mycursor.execute("insert into product values('014','Turmeric','102',200)")
mycursor.execute("insert into product values('015','Fenugreek','102',70)")
mycursor.execute("insert into product values('016','Oil','103',96)")
mycursor.execute("insert into product values('017','Salt','103',100)")
mycursor.execute("insert into product values('018','Sugar','103',60)")
mycursor.execute("insert into product values('019','Jaggery','103',80)")
mycursor.execute("insert into product values('020','Sago','103',130)")

In [45]:
# supplier
mycursor.execute("insert into supplier values('201','Rahul','Ushmanpura','1234321456','rahul@gmail.com')")
mycursor.execute("insert into supplier values('202','Ramesh','Vastral','2323232323','ramesh@gmail.com')")
mycursor.execute("insert into supplier values('203','Anubhav','Gota','4567456789','anubhav@gmail.com')")
mycursor.execute("insert into supplier values('204','Suresh','Maninagar','8989898989','suresh@gmail.com')")

In [46]:
# supplies
mycursor.execute("insert into supplies values('201','001')")
mycursor.execute("insert into supplies values('201','002')")
mycursor.execute("insert into supplies values('201','003')")
mycursor.execute("insert into supplies values('201','004')")
mycursor.execute("insert into supplies values('202','005')")
mycursor.execute("insert into supplies values('202','006')")
mycursor.execute("insert into supplies values('202','007')")
mycursor.execute("insert into supplies values('202','008')")
mycursor.execute("insert into supplies values('202','009')")
mycursor.execute("insert into supplies values('203','010')")
mycursor.execute("insert into supplies values('203','011')")
mycursor.execute("insert into supplies values('203','012')")
mycursor.execute("insert into supplies values('203','013')")
mycursor.execute("insert into supplies values('203','014')")
mycursor.execute("insert into supplies values('203','015')")
mycursor.execute("insert into supplies values('204','016')")
mycursor.execute("insert into supplies values('204','017')")
mycursor.execute("insert into supplies values('204','018')")
mycursor.execute("insert into supplies values('204','019')")
mycursor.execute("insert into supplies values('204','020')")

In [47]:
# buys
mycursor.execute("insert into buys values('301','001')")
mycursor.execute("insert into buys values('302','002')")
mycursor.execute("insert into buys values('303','004')")
mycursor.execute("insert into buys values('304','001')")
mycursor.execute("insert into buys values('305','007')")
mycursor.execute("insert into buys values('305','012')")
mycursor.execute("insert into buys values('303','013')")
mycursor.execute("insert into buys values('301','008')")
mycursor.execute("insert into buys values('302','004')")
mycursor.execute("insert into buys values('303','002')")

In [48]:
# customer
mycursor.execute("insert into customer values('301','Riya Patel','Vastrapur',1234567899,'riyapatel@gmail.com')")
mycursor.execute("insert into customer values('302','Priya Shah','Science City',9988776655,'priyashah@gmail.com')")
mycursor.execute("insert into customer values('303','Diya Parmar','Paldi',2345671856,'diyaparmar@gmail.com')")
mycursor.execute("insert into customer values('304','Divya Shah','Sola',9898767656,'divyashah@gmail.com')")
mycursor.execute("insert into customer values('305','Vrushti Sharma','Maninagar',3453453456,'vrushtisharma@gmail.com')")

In [49]:
# warehouses
mycursor.execute("insert into warehouses values('501','Kalupur','001',200)")
mycursor.execute("insert into warehouses values('501','Kalupur','002',203)")
mycursor.execute("insert into warehouses values('501','Kalupur','003',224)")
mycursor.execute("insert into warehouses values('501','Kalupur','004',123)")
mycursor.execute("insert into warehouses values('501','Kalupur','005',53)")
mycursor.execute("insert into warehouses values('502','Gota','006',234)")
mycursor.execute("insert into warehouses values('502','Gota','007',201)")
mycursor.execute("insert into warehouses values('502','Gota','008',202)")
mycursor.execute("insert into warehouses values('502','Gota','009',203)")
mycursor.execute("insert into warehouses values('502','Gota','010',204)")
mycursor.execute("insert into warehouses values('503','Vasna','011',250)")
mycursor.execute("insert into warehouses values('503','Vasna','012',260)")
mycursor.execute("insert into warehouses values('503','Vasna','013',270)")
mycursor.execute("insert into warehouses values('503','Vasna','014',280)")
mycursor.execute("insert into warehouses values('503','Vasna','015',290)")
mycursor.execute("insert into warehouses values('504','Paldi','016',340)")
mycursor.execute("insert into warehouses values('504','Paldi','017',140)")
mycursor.execute("insert into warehouses values('504','Paldi','018',670)")
mycursor.execute("insert into warehouses values('504','Paldi','019',90)")
mycursor.execute("insert into warehouses values('504','Paldi','020',200)")

In [50]:
# payment by customer
mycursor.execute("insert into Payment_Customer values('401','301',2345,'online','2023-10-23')")
mycursor.execute("insert into Payment_Customer values('402','302',234,'online','2022-11-22')")
mycursor.execute("insert into Payment_Customer values('403','303',342,'cash','2020-10-20')")
mycursor.execute("insert into Payment_Customer values('404','304',645,'online','2021-10-04')")
mycursor.execute("insert into Payment_Customer values('405','305',2456,'cash','2023-01-20')")

In [51]:
# payment by supplier
mycursor.execute("insert into Payment_Supplier values('601','201',2345,'online','2023-10-23')")
mycursor.execute("insert into Payment_Supplier values('602','202',234,'online','2022-11-22')")
mycursor.execute("insert into Payment_Supplier values('603','203',342,'cash','2020-10-20')")
mycursor.execute("insert into Payment_Supplier values('604','204',645,'online','2021-10-04')")

In [52]:
mycursor.execute('create trigger a before update on product FOR EACH ROW BEGIN IF NEW.Price < 0 THEN SET NEW.Price = 0; END IF; END ')

In [53]:
mycursor.execute('create trigger b before update on warehouses FOR EACH ROW BEGIN IF NEW.qunatity < 0 THEN SET NEW.qunatity = 0; END IF; END ')

In [54]:
mydb.commit()

In [55]:
# # mycursor.execute("drop database shop")

In [56]:
def print_table(a):
    mycursor.execute('select * from '+ a)
    rows=mycursor.fetchall()
    print("Table : "+a)
    for i in rows:
        print(i)
    print("--------------------------------------------------------------")
while True :
    print("""
    1. Admin
    2. Customer
    3. Exit
    """)
    ch=int(input("Enter your choice : "))
#     first loop of admin
    if ch==1:
        passs=input("Enter password : ")
        mycursor.execute("select * from login")
        for i in mycursor:
            username,password=i
        if(passs==password):
            print("Welcome")
            loop2='y'
            while(loop2=='y' or loop2=='Y'):
                print("""
                1. To add new product
                2. To delete product
                3. To update existing product
                4. Change Password
                5. To display all products
                6. Logout
                """)
                ch=int(input("Enter your choice : "))
#                 admin choices
                if ch==1: 
#         add new product
                    loop='y';
                    while(loop=='y' or loop=='Y'):
                        pid=input("Enter product ID : ")
                        pname=input("Enter product name : ")
                        cid=input("Enter category ID : ")
#                         sid=input("Enter supplier ID : ")
                        price=int(input("Enter price per product : "))
                        yn=input("New Supplier ?(y/n)")
                        if(yn=='y' or yn=='Y'):
                            sid=input("Enter supplier ID : ")
                            sname=input("Enter supplier name : ")
                            area=input("Enter area of supplier : ")
                            phone= int(input("Enter supplier phone number : "))
                            email=input("Enter email of the supplier : ")
                            mycursor.execute("insert into supplier values('"+sid+"','"+sname+"','"+area+"','"+str(phone)+"','"+email+"')")
                        else:
                            sid=input("Enter supplier ID : ")
                        mycursor.execute("insert into supplies values('"+sid+"','"+pid+"')")
                        mycursor.execute("insert into product values('"+pid+"','"+pname+"','"+cid+"','"+str(price)+"')")
                        qunatity=int(input("Enter total number of products : "))
                        wid=input("Enter warehouse ID : ")
                        
#                         mycursor.execute("insert into product values('"+pid+"','"+pname+"','"+cid+"','"+sid+"','"+str(price)+"')")
#                         mycursor.execute("insert into supplier values('"+sid+"','"+pid+"','"+sname+"','"+area+"','"+str(phone)+"','"+email+"')")
                        area=input("Enter warehouse area : ")
                        mycursor.execute("insert into warehouses values('"+wid+"','"+area+"','"+pid+"','"+str(qunatity)+"')")
                        mydb.commit()
                        print("Record successfully inserted....")
                        loop=input("Do you want to insert more products ? (y/n)")
                    loop2=input("Do you want to continue editing ? (y/n)")
                elif ch==2:#delete product
                    loop='y';
                    while(loop=='y' or loop=='Y'):
                        pids=input("Enter product ID : ")
                        xyz="DELETE FROM product WHERE pid="+pids
                        mycursor.execute(xyz)
                        xyz="DELETE FROM supplies WHERE pid="+pids
                        mycursor.execute(xyz)
                        xyz="DELETE FROM warehouses WHERE pid="+pids
                        mycursor.execute(xyz)
                        mydb.commit()
                        print("Record successfully deleted....")
                        loop=input("Do you want to delete more products ? (y/n)")
                    loop2=input("Do you want to continue editing ? (y/n)")
                elif ch==4:
                    new_pass=input("Enter the new Password")
                    x="usernames"
                    mycursor.execute("update login set password='"+str(new_pass)+"' where username='"+str(x)+"' ")
#                     "update supplier set email='"+str(email)+"' where sid='"+str(sids)+"'"
                    mydb.commit()
                elif ch==5:
                    print_table("product")
                elif ch==6:
                    break;
                elif ch==3:
                    l1='y'
                    while l1=='y' or l1=='Y':
                        print("""
                        1. Product Name
                        2. Product Price
                        3. Supplier's Email
                        4. Supplier's Contact number
                        5. Supplier's Area
                        6. Customer's Email
                        7. Customer's Contact number
                        8. Customer's Area
                        9. Warehouse area
                        10. Quantity of the product
                        """)
                        a=int(input("Enter your choice : "))
                        if(a==1):
                            pids=input("Enter pid : ")
                            pnames=input("Enter new product name : ")
                            y="update product set Pname='"+str(pnames)+"' where pid='"+str(pids)+"'"
                            mycursor.execute(y)
                            mydb.commit()
                            print("Record updated successfully.....")
                        elif(a==2):
                            pids=input("Enter pid : ")
                            pnames=input("Enter new product price : ")
                            y="update product set Price='"+str(pnames)+"' where pid='"+str(pids)+"'"
                            mycursor.execute(y)
                            mydb.commit()
                            print("Record updated successfully.....")
                        elif a==3:
                            sids=input("Enter sid : ")
                            email=input("Enter new email : ")
                            y="update supplier set email='"+str(email)+"' where sid='"+str(sids)+"'"
                            mycursor.execute(y)
                            mydb.commit()
                            print("Record updated successfully.....")
                        elif a==4:
                            sids=input("Enter sid : ")
                            pnames=input("Enter new contact number : ")
                            y="update supplier set Phone='"+str(pnames)+"' where sid='"+str(sids)+"'"
                            mycursor.execute(y)
                            mydb.commit()
                            print("Record updated successfully.....")
                        elif a==5:
                            sids=input("Enter sid : ")
                            pnames=input("Enter new area : ")
                            y="update supplier set Area='"+str(pnames)+"' where sid='"+str(sids)+"'"
                            mycursor.execute(y)
                            mydb.commit()
                            print("Record updated successfully.....")
                        elif a==6:
                            sids=input("Enter CuID : ")
                            email=input("Enter new email : ")
                            y="update customer set email='"+str(email)+"' where CuID='"+str(sids)+"'"
                            mycursor.execute(y)
                            mydb.commit()
                            print("Record updated successfully.....")
                        elif a==7:
                            sids=input("Enter CuID : ")
                            pnames=input("Enter new contact number : ")
                            y="update customer set Phone='"+str(pnames)+"' where CuID='"+str(sids)+"'"
                            mycursor.execute(y)
                            mydb.commit()
                            print("Record updated successfully.....")
                        elif a==8:
                            sids=input("Enter CuID : ")
                            pnames=input("Enter new area : ")
                            y="update customer set Area='"+str(pnames)+"' where CuID='"+str(sids)+"'"
                            mycursor.execute(y)
                            mydb.commit()
                            print("Record updated successfully.....")
                        elif a==9:
                            wid=input("Enter WID: ")
                            area=input("Enter new warehose area : ")
                            y="update warehouses set Area='"+str(area)+"' where wid='"+str(wid)+"'"
                            mycursor.execute(y)
                            mydb.commit()
                            print("Record updated successfully.....")
                        elif a==10:
                            wid=input("Enter WID: ")
                            area=input("Enter quantity : ")
                            y="update warehouses set qunatity='"+str(area)+"' where wid='"+str(wid)+"'"
                            mycursor.execute(y)
                            mydb.commit()
                            print("Record updated successfully.....")
                        l1=input("Do you want to continue updation (y/n)? ")
        else:
            print("Wrong Password")
#             customer
    elif ch==2:
        print_table("product")
        cuid=0
        yn=input("New Customer(y/n): ")
        if(yn=='y' or yn=='Y'):
            c=c+1
            print("Your customer ID is :",c)
            name=input("Enter your name : ")
            area=input("Enter your living area : ")
            phone=input("Enter your phone number : ")
            email=input("Enter your email id : ")
            mycursor.execute("insert into customer values('"+str(c)+"','"+name+"','"+area+"','"+str(phone)
                             +"','"+email+"')")
            mydb.commit()
            cuid=c
        else:
            cuid=input("Enter your ID")
        n=int(input("How many products do you want to buy ? "))
        amt=0
        for i in range(n):
            pids=(input("Enter product ID : "))
#             mycursor.execute("select Price from product where pid="+"'pids'")
            c="select Price from product where pid='"+pids+"'"
            print(c)
            mycursor.execute("select Price from product where pid='"+pids+"'")
            x=mycursor.fetchall()
            print(x)
            y=x[0][0]
            print(y)
            amt+=int(y)
            
        print("Your mode of payment : \n\t1. Online \n\t2.Cash")
        modes=int(input())
        mod=""
        if(modes==1):
            mod="online"
        else:
            mod="cash"
        mycursor.execute('select * from Payment_Customer')
        rows=mycursor.fetchall()
        paid=int(rows[len(rows)-1][0])+2
        
        mycursor.execute("insert into Payment_Customer values('"+str(paid)+"','"+str(cuid)+"','"+str(amt)+"','"+str(mod)+"','"+str("2003-10-20")+"')")
        mydb.commit()
#         print("Table : "+a)
#         for i in rows:
#             print(i)
        #customer ask new or old
    elif ch==3:
        break;

    1. Admin
    2. Customer
    3. Exit

Enter your choice : 1
Enter password : 123
Welcome

                1. To add new product
                2. To delete product
                3. To update existing product
                4. Change Password
                5. To display all products
                6. Logout

Enter your choice : 1
Enter product ID : 0455
Enter product name : wxs
Enter category ID : 102
Enter price per product : -21
New Supplier ?(y/n)n
Enter supplier ID : 301
Enter total number of products : 6
Enter warehouse ID : 678
Enter warehouse area : gvjh
Record successfully inserted....
Do you want to insert more products ? (y/n)n
Do you want to continue editing ? (y/n)n

    1. Admin
    2. Customer
    3. Exit

Enter your choice : 3

In [57]:
# mycursor.execute("desc product")

In [58]:
# # mycursor.execute('select * from product')
# # rows=mycursor.fetchall()
# # print(rows)
# mycursor = mydb.cursor(buffered=True)
# query="select * from product"
    
# mycursor.execute(query)
    
# rows=mycursor.fetchall()
# for row in rows:
#     for col in row:
#         print(col,end=' ')
#     print()

In [59]:
# mycursor.execute("desc product")
# rows=mycursor.fetchall()
# for row in rows:
#     for col in row:
#         print(col,end=' ')
#     print()